doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

    meta(name="keywords" content="morning shift coalition")

    meta(property="og:title" content="Morning Shift Coalition")
    meta(property="og:type" content="website")
    meta(property="og:image" content="http://morningshift.org/img/black-circle.png")
    meta(property="og:image:secure_url" content="https://morningshift.org/img/black-circle.png")
    meta(property="og:url" content="https://morningshift.org/")
    meta(property="og:description" 
      content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@shiftmorning")
    meta(name="twitter:creator" content="@shiftmorning")
    meta(name="twitter:title" content="Morning Shift Coalition")
    meta(name="twitter:description" 
      content="The Morning Shift Coalition. Wake up early with us, and change the status quo. #MorningShift")
    meta(name="twitter:image" content="https://morningshift.org/img/black-circle.png")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-cookies.min.js")


    script(src="/js/main.js")
    script(src="/js/controllers/timeClock.js")

    script.
         var app = angular.module("MorningShiftIntro");
    //-     app.value('config', !{JSON.stringify(config)})

    //- script(src="https://checkout.stripe.com/checkout.js")

  body
    .container

      .row.debug

        .col-md-offset-2.col-md-8.debug
          h1 Morning Shift Coalition

          .clockIn(ng-controller="TimeClockCtrl as clock")
            button.btn-start(
              ng-click="clock.toggleClockIn()" 
              ng-class="{ 'isClockedIn': clock.isClockedIn }") 
              span(ng-if="clock.isClockedIn") Stop Shift
              span(ng-if="!clock.isClockedIn") Start Shift

            //- Soon:
            //- div(ng-if="clock.isClockedIn")
            //-   p {{clock.clockedInDate}}
 
          .description
            p Wake up early, and work with us to change the status quo. 

            p #MorningShift

