doctype html
html(ng-app="MorningShiftIntro")
  head
    title Morning Shift Coalition
    link(rel="stylesheet" type="text/css" href="style/main.css")

    include inc/search-meta
    include inc/social-meta
    include inc/mobile-devices

    include inc/base-scripts

    script(src="/js/controllers/timeClock.js")
    script(src="/js/controllers/clef.js")

    script.
         var app = angular.module("MorningShiftIntro");
         app.value('member', !{JSON.stringify(member)})

    //- script(src="https://checkout.stripe.com/checkout.js")

  body
    .container

      .row.debug

        .col-md-offset-2.col-md-8.debug
          h1.morning-shift Morning Shift
          h1.coalition Coalition

          .clockIn(ng-controller="TimeClockCtrl as clock")
            button.btn-start(
              ng-if="!clock.isClockedIn"
              ng-click="clock.toggleClockIn()" 
              ng-class="{ 'isClockedIn': clock.isClockedIn }") 
              span(ng-if="clock.isClockedIn") Stop Shift
              span(ng-if="!clock.isClockedIn") Start Shift

            div.message(ng-if="clock.isClockedIn") 
              include inc/main-message 

            //- Turn off clock for now until we have a better place
            //- to put it
            //-
            //- div.shift-duration(
            //-   ng-if="clock.isDurationValid && (clock.isClockedIn || clock.clockedInDate)") {{clock.shiftDuration}}

          .description
            //-p Let's do this.

            .col-md-6(ng-controller="ClefCtrl as clef") 
              if isSignedIn
                p Welcome!
              else
                p
                  script.clef-button(type="text/javascript" 
                  src="https://clef.io/v3/clef.js" 
                  data-color="white" 
                  data-style="flat"
                  data-type="login")&attributes({
                    'data-redirect-url': host + '/clef/redirect',
                    'data-app-id': clef.publicKey,
                    'data-state': clef.state
                  })

            .col-md-6
              p <a href="/about">About Morning Shift</a>

    include inc/footer

